
<div class="form-body">
    <div class="container mt-5">
        <div class="jumbotron">
            <br>
            <h1 class="display-4">@TempData["StudentName"]</h1>
            <br>
            <h1 class="display-4">😅 Ops! Parece que você já passou por aqui antes!</h1>
            <br>
            <p class="lead">Parabéns por chegar até aqui! 👏</p>
            <br>
            <p class="lead">Agora, dá uma olhadinha no seu e-mail, mandei algo especial pra você! 😄</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/" role="button">Voltar à página inicial</a>
        </div>
    </div>
</div>
