<div class="form-body">
    <div class="container mt-5">
        <div class="jumbotron">
            <br>
            <h1 class="display-4">🎉 @TempData["StudentName"] 🎉</h1>

            <h2 class="display-4"> Obrigado por se cadastrar!</h2>
            <br>

            <p class="lead">👏 Parabéns por chegar até aqui! 👏</p>
            <br>
            <p class="lead">Agora, dá uma olhadinha no seu e-mail, mandei algo especial pra você! 😄</p>
            <hr class="my-4">
            <p>Se precisar de alguma coisa, não hesite em entrar em contato comigo.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Voltar à página inicial</a>
        </div>
    </div>
</div>
