@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h2 style="text-align:center">CheckPoint 3 - Advanced Business Development with .NET</h2>
        <br />
        <h3 class="display-4">👏 Parabéns, Alunos! 🎉</h3>

        <p class="lead">Você chegou longe em sua jornada de aprendizado e estou orgulhoso de seu progresso.</p>
        <p>😅 Estamos quase no final, agora só se cadastre. 😅</p>

        <p>
            <a class="btn btn-primary" asp-controller="Students" asp-action="Create">Cadastre-se Agora</a>
        </p>
    </div>
</div>